.*
!.git*
_*
*.out

!docs/_includes
!docs/_layouts

results/*

!results/synonymous_mut_rates
results/synonymous_mut_rates/*
!results/synonymous_mut_rates/*.html
!results/synonymous_mut_rates/rates_by_clade.csv
!results/synonymous_mut_rates/clade_rate_distances.csv

!results/mutation_counts
results/mutation_counts/*
!results/mutation_counts/aggregated.csv

!results/clade_founder_nts
results/clade_founder_nts/*
!results/clade_founder_nts/clade_founder_nts.csv

!results/clade_founder_tree
results/clade_founder_tree/*
!results/clade_founder_tree/clade_founders.treefile
!results/clade_founder_tree/clade_founders.mldist
!results/clade_founder_tree/tree_w_enrichments.png

!results/mantel_test
results/mantel_test/*
!results/mantel_test/mantel_test_plot.pdf

!results/clade_founder_aa_muts
!results/clade_founder_aa_muts/*
!results/clade_founder_aa_muts/clade_founder_aa_muts.csv
